{% if include.page_top %}
{% assign slug = "parc-oriental page-top" %}
{% else %}
{% assign slug = "parc-oriental" %}
{% endif %}
{% include banners/_generic.html
  slug=slug
  locale=include.locale
  source_title="Le parc de Maulévrier"
  source_target_url="https://www.parc-oriental.com"
  source_url="https://www.flickr.com/photos/xsaltor/albums/72157715969421881"
  source_author="xsalto"
  source_rights_url="https://creativecommons.org/licenses/by-sa/2.0/"
  source_rights_title="Licence Creative Commons"
  source_rights_shortname="CC BY-SA 2.0"
%}