<section class="section">
  <div class="wrapper">
    <h2 class="text-center">
      Programme détaillé
    </h2>
    {% for conference in include.conferences %}{% assign verbatim = conference.fr_FR %}
    <article class="conference" id="{{ conference.slug }}">
      <h3>
        {{ verbatim.title }}&nbsp;<a href="#{{ conference.slug }}" class="text-xs">#</a>
      </h3>
      {{ verbatim.description | markdownify }}
      {% if conference.vimeo_id %}
        <p class="text-center">
          <iframe src="https://player.vimeo.com/video/{{ conference.vimeo_id }}?color=ffffff" width="640" height="360"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <br /><a href="https://vimeo.com/{{ verbatim.vimeo_id }}">voir sur Vimeo</a>.</p>
      {% endif %}
      {% if conference.image %}
        <p class="text-center">
        <figure role="group" aria-labelledby="fig1">
        <img src="{{ site.lazyload.placeholder }}" class="lozad" data-src="{{ "/assets/images/anduze/val-de-lhort-2-460.jpg" | relative_url }}" alt="Des endroits tranquilles et ombragés" width="640" height="360">
      </figure>
        </p>
      {% endif %}
      {% for names in conference.speaker %} {% assign speaker = site.data.speakers[names] %}
      {% assign speakatim = speaker.fr_FR %} 
      <section class="conference-speaker text-sm">
        <figure class="conference-speaker-pic" role="group">
          <img src="{{ speaker.image | relative_url }}" alt="">
          <figcaption class="sr-only">{{ speaker.name }}</figcaption>
        </figure>
        <h3 class="conference-speaker-name">
          <span class="text-xs">Présenté par</span><br>
          {% capture person %}<em>{{ speaker.name }}</em>{% endcapture %} {% if speaker.url %} {% capture person %}<a
            href="{{ speaker.url }}">{{ person }}</a>{% endcapture %} {% endif %}
          {{ person }}
        </h3>
        <p class="conference-speaker-description">
          {{ speakatim.bio }}
        </p>
      </section>
      {%- endfor -%}
    </article>
    <hr> {%- endfor -%}
  </div>
</section>
