<form action="https://formspree.io/f/xknewpne" method="POST">
  <div class="p-like"> <label class="desc" for="id_replyto">Votre adresse email&nbsp;:</label> <input type="email"
      name="_replyto" placeholder="ex&nbsp;: Liaozhai-zhiyi@gonfucha.tea" id="id_replyto"> </div>
  <div class="p-like"> <label class="desc" for="id_message">Votre message&nbsp;:</label> <textarea name="message"
      rows="" placeholder="ex&nbsp;: Intense fraîcheur de la nuit alors que l’on se rend au puits tirer l’eau."
      id="id_message" required=""></textarea>
  </div>
  <p><small>Note&nbsp;: l’email n’est pas obligatoire, mais si vous voulez qu’on vous réponde, pensez à le
      fournir ;)</small></p>
  <div class="p-like text-center"> <input type="hidden" name="_subject" value="Message envoyé depuis la page contact">
    <input type="text" name="_gotcha" style="display:none"> <input type="hidden" name="_next"
      value="https://gongfucha.brutdethé.fr"> <button type="submit" class="button" data-text="Envoyer"> <span
        class="button-inner">Envoyer</span> </button> </div>
</form>
