<div class="p-like">
  <p>coucou@gongfucha.fr</p>
</div>
<div class="p-like">

</div>
<div class="p-like text-center">
  <input
    type="hidden"
    name="_subject"
    value="Message envoyé depuis la page contact">
  <input
    type="text"
    name="_gotcha"
    style="display:none"> <input
    type="hidden"
    name="_next"
    value="https://festival.gongfucha.fr">
  <button
    type="submit"
    class="button"
    data-text="Envoyer">
    <span class="button-inner">Envoyer</span>
  </button>
</div>
