<footer class="page-footer">
  <div class="wrapper">
    {% if page.i18n-key == 'home' or page.i18n-key == 'nous-contacter' %} {% include equipe.html %}
    <hr> {% endif %}
    <div class="grid-2">
      <section>
        <h2 id="footerTitle2" class="text-lg">Pour en savoir plus</h2>
        <nav aria-labelledby="footerTitle2">
          <ul>
            {% assign footer_links = site.data.sitemap | where: 'in_footer', true %} {% for link in footer_links %}
            <li>{% include link.html link=link %}</li>
            {% endfor%}
          </ul>
        </nav>
      </section>
      <section>
        <h2 class="text-lg">On reste en contact ?</h2>
        <form
          action="https://xn--brutdeth-i1a.us13.list-manage.com/subscribe/post?u=be5121dbaede051661a4c802c&amp;id=db43bcc38d&amp;f_id=002e8ce2f0"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" method="post"
          id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form validate"
          target="_blank" rel="noopener noreferrer" novalidate="">
          <label for="mce-EMAIL">Recevez les actualités du festival GongFuCha</label>
          <div class="form-row">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Votre email"
              required="">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_af19b58cf514c01eca3f7652e_b579f5b507" tabindex="-1" value="">
            </div>
            <button class="button-reset" type="submit" name="subscribe" id="mc-embedded-subscribe">ok</button>
          </div>
        </form>
        <ul class="social-links">
          {% for social in site.data.social %}
          <li>
            <a href="{{social.url}}" title="{{social.title}}">
              <svg width="1em" role="img" aria-label="{{social.name}}" viewBox="0 0 448 512">
                <use xlink:href="{{ "/assets/svg/symbol-defs.svg#" | append: social.name | relative_url }}" />
              </svg>
            </a>
          </li>
          {% endfor%}
        </ul>
      </section>
    </div>
    <hr>
    <p class="text-center">Contribuer sur <a href="https://github.com/brutdethe/festival-gongfucha">github</a>.
    </p>
  </div>
</footer>
