<footer class="page-footer">
  <div class="wrapper">
    {% if page.i18n-key == 'home' or page.i18n-key == 'nous-contacter' %}
      {% include equipe.html %}
      {% include benevoles.html %}
    <hr> {% endif %}
    <div class="grid-2">
      <section>
        <h2 id="footerTitle2" class="text-lg">Pour en savoir plus</h2>
        <nav aria-labelledby="footerTitle2">
          <ul>
            {% assign footer_links = site.data.sitemap | where: 'in_footer', true %} {% for link in footer_links %}
            <li>{% include link.html link=link %}</li>
            {% endfor%}
          </ul>
        </nav>
      </section>
      <section>
        <h2 class="text-lg">On reste en contact ?</h2>
        <ul class="social-links">
          <li>Contactez-nous par mail : coucou@gongfucha.fr</li>
          {% for social in site.data.social %}
          <li>
            <a href="{{social.url}}" title="{{social.title}}">
              <svg width="1em" role="img" aria-label="{{social.name}}" viewBox="0 0 448 512">
                <use xlink:href="{{ "/assets/svg/symbol-defs.svg#" | append: social.name | relative_url }}" />
              </svg>
            </a>
          </li>
          {% endfor%}
        </ul>
      </section>
    </div>
    <hr>
    <p class="text-center">Contribuer sur <a href="https://github.com/brutdethe/festival-gongfucha">github</a>.
    </p>
  </div>
</footer>
