<section class="section">
    <div class="wrapper">
        <h2 class="text-center">
            Celles et ceux qui ont aidé<br>le festival GongFuCha
        </h2>
            <h3><a href="https://www.villa-mayari.com/"># Camping Villa Mayari</a></h3>
                <img src="/assets/images/mercis/mayari-chalet.png
            " alt="Chalet du camping Villa Mayari" width="960" height="540">
            <p>Au pied des Pyrénées ariégeoises, Le Camping Villa Mayari est situé dans un espace naturel très boisé, où les chalets en bois et les emplacements s’étagent en terrasses sur 3 hectares. Il y règne un grand calme propice au repos. Une importante biodiversité est présente grâce à la forêt, aux jardins cultivés en permaculture et aux mares écologiques.</p>
    </div>
</section>
