<section id="team">
  <h2 class="text-center">{% t L'équipe %}</h2>
  <div class="grid-{{ team.size }} text-center">
    {% for member in team %}
    <figure class="person" role="group">
      <img src="{{ site.lazyload.placeholder }}" class="person-avatar lozad"
        data-src="{{ "/assets/images/team/" | append: member.slug | append: ".jpg" | relative_url }}"
        alt="{{member.firstname}} {{member.lastname}}" width="100" height="100">
      <figcaption id="capt-{{member.twitter}}" class="person-name text-xs">
        {{member.firstname}} {{member.lastname}} <span class="sr-only">{{member.lastname}}</span></a> (<a
          href="{{member.url}}">site</a>)
      </figcaption>
    </figure>
    {% endfor%}
  </div>
</section>