---
title: Venir à Maulévrier
description: "Tout pour venir le plus simplement"
i18n-key: come
permalink: /venir-maulevrier/
redirect_from:
- /venir/
---

<section class="section">
  <div class="wrapper">
    <h1>Venir à Festi`Thé</h1>

    <p>
      Le parc oriental de Maulévrier est un jardin japonais situé à Maulévrier en Maine-et-Loire, à 76 km de Nantes et
      74 km d'Angers. Le
      Parc est à 12 km au
      sud-est de Cholet, à mi-distance entre Cholet et Mauléon. À Cholet, il est conseillé de suivre la direction "Parc
      de Loisirs de Ribou" pour trouver la direction de Maulévrier.
    <address>Route de Mauléon<br>49360 Maulévrier<br>Coordonnées GPS : Lattitude : 47.005690N -
      Longitude : -0.744589<br>
      <small>
        (<a href="https://www.openstreetmap.org/#map=13/47.0048/-0.7482">ouvrir dans
          OpenStreetMap</a>)
      </small>
    </address>
    </p>

    <p>Nous sommes conscient·e·s qu’en sortant d’une ville, il va être nécessaire de s’organiser un peu plus pour venir.
      Avion, train, voiture… la question est rarement de savoir comment rejoindre Nantes, Angers ou Cholet, mais plutôt
      de trouver comment rejoindre le Parc oriental de Maulévrier.</p>
    <p>On a pensé à vous et imaginé plusieurs solutions que vous vous choisissiez de venir :</p>

    <ul>
      <li>
        <a href="#car">avec votre voiture ou en covoiturage</a> ;
      </li>
      <li>
        <a href="#public-transport">en transports en commun</a> ;
      </li>
      <li>
        <a href="#bike">ou même à vélo</a> !
      </li>
    </ul>
  </div>
</section>

{% include banners/parc-oriental.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 id="car">En voiture</h2>

    <p>
      Si vous décidez de prendre un véhicule personnel ou de location, pensez au covoiturage.
      <br> Qu’il s’agisse d’un trajet de longue durée ou uniquement d’une portion de route, maximisez l’usage de
      votre voiture en embarquant d’autres participant·e·s ! Des Parkings et une aire de camping-cars (environ 40
      places) gratuits sont situés à proximité immédiate de l'entrée du parc.
    </p>

    <h3>Covoiturage</h3>

    <p>Pour faciliter les échanges entre participant·e·s, nous vous proposons de lister vos propositions de covoiturage
      sur notre site. Si vous venez en voiture, <a href="#submit">partagez votre itinéraire</a> via le formulaire
      ci-dessous.</p>

    <h4>Voilà la liste de ce qui a déjà été partagé :</h4>

    <ul>
      {% for journey in site.data.carsharing %}
      <li>
        Qui : {{journey.name}}
        <br> Départ : de
        <strong>{{journey.leaving-place}}, le {{journey.leaving-day}} vers {{journey.leaving-time}}</strong>
        <br> {% if journey.return-day != ""%} Retour : le {{journey.return-day}} vers {{journey.return-time}}
        <br> {% endif %} Étapes proposées : {{journey.steps}}
        <br> Prendre contact : {{journey.contact}}
      </li>
      {% endfor%}
    </ul>

    <hr>

    <h4 id="submit">Vous proposez un trajet :</h4>
    <form action="//formspree.io/covoit-2022@festival.brutdethé.fr" method="POST">
      <div class="p-like">
        <label class="desc" for="id_name">Votre nom :</label>
        <input type="text" name="_name" placeholder="ex : Amélie Poulain" id="id_name" required>
      </div>
      <div class="p-like">
        <label class="desc" for="id_message">Votre proposition la plus précise possible (ville de départ, horaires, si
          vous faites une/des étape(s)) :</label>
        <textarea name="message" rows=""
          placeholder="ex : Je pars vendredi du Mans vers 9h, je peux m’arrêter à Angers ou, au besoin, dans une autre commune sur la route. Pour le retour, je partirai vers 18h le samedi. J’ai 3 places. Pour me contacter, un petit message à @amelie-poulain."
          id="id_message" required></textarea>
      </div>
      <div class="p-like text-center">
        <input type="hidden" name="_subject" value="Message envoyé depuis la page contact" />
        <input type="text" name="_gotcha" style="display:none">
        <input type="hidden" name="_next" value="{{ site.url }}" />
        <button type="submit" class="button" data-text="Envoyer">
          <span class="button-inner">Envoyer</span>
        </button>
      </div>
    </form>

    <h3>Location de voiture</h3>
    <p>À la gare de Nantes, vous pourrez trouver les agences de location suivantes :</p>
    <ul>
      <li>
        <a href="https://www.ada.fr/location-voiture-nantes-face-gare.html">Ada</a> - des véhicules en libre-service
        24h-24 et 7J/7.
      </li>
      <li>
        <a href="https://www.avis.fr/services-avis/location-voiture/europe/france/nantes/gare-de-nantes">Avis</a> - du
        lundi au vendredi de 7:00 à 21:00, le samedi de 9:00 à 15:00, le dimanche de 12:00 à 20:00. Retours 24h/24.
      </li>
      <li>
        <a href="https://www.europcar.fr/fr-fr/agences/france/nantes-gare-sud">Europcar</a> - du lundi au vendredi de
        7:45
        à 21:00, le samedi de 09:00 à 13:00 et de 14:15 à 18:15, le dimanche de 10:30 à 12:30 et de 17:00 à 20:30.
      </li>
      <li>
        <a href="https://www.budget.fr/rental-locations/nantes-gare">Budget</a> -
        du lundi au vendredi de 07:00 à 21:00, le samedi de 9:00 à 15:00, le dimanche de
        12:00 à 20:00.
      </li>
      <li>
        <a href="ttps://www.rentacar.fr/agences/541-nantes-gare">Rent a car</a> - du lundi au vendredi de 08:30 à
        12:30 et de 15:00 à 18:00.
      </li>
      <li>
        <a href="https://www.sixt.fr/location-voiture/france/nantes/nantes-gare-sud-tgv/">Sixt</a> - du lundi au
        vendredi
        de 7:00 à 21:00, le samedi de 08:00 à 12:00 et de 14:00 à 18:00, le dimanche de 10:00 à 12:00 et de 14:00 à
        20:00. Retours 24h/24.
      </li>

    </ul>

    <h3>En taxi</h3>
    <ul>
      <li>de Nantes : entre 140 € et 180 €</li>
      <li>d’Angers : entre 150 € et 180 €</li>
      <li>de Cholet : entre 25 et 35 €</li>
    </ul>

  </div>
</section>

{% include banners/train.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 id="public-transport">En transports en commun</h2>

    <p>Pour venir en transport en commun au Festi`Thé, plusieurs options s'offrent à vous :</p>

    <ul>
      <li>
        <a href="https://www.trainline.fr/search/votre%20maison/cholet">En train</a>, en ligne directe ou après
        plusieurs correspondances, vous pourrez vous rendre jusqu'à Cholet.
      </li>

      <li>
        En avion : l’aéroport important le plus proche est celui de Nantes, il vous faudra ensuite prendre une navette
        pour rejoindre
        la gare de Nantes, afin de prendre un train pour Cholet.
      </li>
    </ul>

    <h3>Une fois à Cholet</h3>

    <p>Pour rejoindre Maulévrier, il vous faudra emprunter la ligne 17 de Choletbus qui, depuis peu, propose un arrêt au
      niveau du Parc
      oriental. Vous trouverez les horaires
      <a href="https://www.choletbus.fr/se-deplacer/horaires-par-ligne"> ici</a>.
    </p>

  </div>
</section>

{% include banners/tornac.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 id="bike">À vélo</h2>

    <p>Si vous vous sentez l'âme sportive, vous pouvez également rejoindre le parc oriental de Maulévrier en pédalant !
      Le Maine-et-Loire au mois de mai devrait être plutôt agréable.</p>

    <p>
      Organisez votre <a href="http://cycle.travel">itinéraire sur mesure</a>.<br>
    </p>
  </div>
</section>

{% include banners/hands.html locale=page.locale %}

<!--
<section class="section">
  <div class="wrapper">
    <h2>Ce qui est sûr, c’est que vous ne serez pas seul·e·s !</h2>
    <p>
      N’hésitez pas à vous organiser sur
      <a href="http://sudweb.herokuapp.com/">le Slack de Festi`Thé</a> (
      <a href="https://sudweb.slack.com/messages/C8WQ8NZPA/">accès direct si vous avez déjà un compte</a>).
    </p>
    <p>
      Profitez de ces moment pour vous retrouver, dans le train, durant les correspondances.
      <br> Échangez, échangeons, pleins de solutions sont à votre disposition !
    </p>
    <p>Bon voyage :)</p>
  </div>
</section>
-->
{% include banners/station.html locale=page.locale %}