---
title: Appel à propositions
description: Vous avez jusqu’au 31 août 2022 pour soumettre des sujets de conférences.
i18n-key: cfp
permalink: /appel-a-propositions/
published: true
---

<section class="section">
  <div class="wrapper">
    <h1>Comment participer au festival ?</h1>
    <p>Autour du sujet : <i>Thé de culture chinoise</i></p>
    <ul>
      <li><p><b>Vous avez des choses à présenter</b><br />
        <i>Vous avez quelque chose à montrer, faire déguster, à vendre, à faire vivre : <br />
        Nous pouvons mettre à disposition un coin qui vous sera dédié pour vous permettre de rencontrer les participantes</i>
      </p></li>
      <li><p><b>Vous avez des choses à raconter</b><br />
        <i>Vous avez un sujet à présenter, une histoire à raconter, etc :<br />
          il est aussi possible de tenir une conférence.</i>
      </p></li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <h4>Contactez nous par ce formulaire en nous décrivant de quelle manière vous souhaiteriez participer</h4>
    {% include contact_form.html locale=page.locale %}
  </div>
</section>

{% include banners/parc-aux-bambous.html locale=page.locale %}

{% include banners/manon.html locale=page.locale %}
