---
title: Appel à propositions
description: Vous avez jusqu’au 31 août 2022 pour soumettre des sujets de conférences.
i18n-key: cfp
permalink: /appel-a-propositions/
published: false
---

<section class="section">
  <div class="wrapper">
    <h1>Proposer votre sujet au festival</h1>
    <p>Autour du thème : <i>Thé de culture chinoise</i></p>
    <dl>
      <dt>
        <h3>Vous avez des choses à présenter ?</h3>
      </dt>
      <dd>
        <p>
          Vous avez des <strong>objets ou des créations</strong> à exposer, du <strong>Thé</strong> à faire déguster et
          à vendre, des théiers ou quelque
          chose que nous n'avons pas encore imaginé.<br />
          Nous vous aidons à aménager un <strong>espace dédié et intimiste</strong> pour exposer et rencontrer les
          participantes dans les meilleures conditions.
        </p>
      </dd>
      <dt>
        <h3>Vous avez des choses à raconter ?</h3>
      </dt>
      <dd>
        <p>
          Si vous souhaitez partager votre <strong>vision du Thé</strong> ou parler de <strong>votre métier</strong> ou
          exposer quelques choses qui vous tient à cœur.<br>
          Nous construisons avec vous les conditions pour que vous puissiez jouer votre conférence ou votre atelier ou
          votre animation dans de bonnes conditions.
        </p>
      </dd>
    </dl>
  </div>
</section>
{% include banners/perrine.html locale=page.locale %}
<section class="section">
  <div class="wrapper">
    <p>Vous pouvez proposer jusqu'à trois sujets de conférence ou d'atelier jusqu'au <strong>31 août 2022</strong>.<br>
      Contactez nous avec ce formulaire en décrivant le sujet et la forme que vous souhaiteriez donner à votre
      participation.</p>
    {% include contact_form.html locale=page.locale %}
  </div>
</section>

{% include banners/manon.html locale=page.locale %}
