---
title: "Soutenez GongFuCha !"
description: "Envie de nous aider à financer le festival GongFuCha ? Explications !"
i18n-key: faq-finance
permalink: /2023/contribuer/
---
<style>
  .com {
    width:40%;
    margin: 1em;
  }
</style>

<section class="section">
  <div class="wrapper">
    <h1>Soutenez le festival GongFuCha</h1>
    <p>
      Organiser un festival demande du temps, de la préparation, de l'énergie et un certain budget.
      Pour cette seconde édition, nous faisons appel à toutes celles et ceux qui désirent soutenir l'évènement d'une
      manière ou d'une autre.
      Dans une envie de transparence, vous pouvez consulter notre <a
        href="{{ page.baseurl | default:site.baseurl }}/2023/budget">budget
        prévisionnel</a>
      et suivre l'avancée du <a href="{{ page.baseurl | default:site.baseurl }}/2023/remerciements">budget</a>.
      L'objectif budgétaire du festival est d'équilibrer les recettes et les dépenses. 
    <p>
      Tout le monde peut ainsi contribuer à faire du Festival GongFuCha un événement convivial et, nous l'espérons,
      pérenne.
      Pour cela, plusieurs possibilités :
    </p>
    <ul>
      <li><a href="#dons">Contribuez</a></li>
      <li><a href="#sponsoring">Devenez sponsor</a></li>
      <li><a href="#diffusion">Aidez-nous à diffuser l'évènement</a></li>
    </ul>
    <div class="text-center">
      <a class="button" href="{{ page.baseurl | default:site.baseurl }}/2023/remerciements"
        data-text="merci à nos donatrices et donateurs">
        <span class="button-inner">merci à nos donatrices et donateurs !</span>
      </a>
    </div>
  </div>
</section>

<hr class="wrapper">

{% include banners/ambiance-guillaume.html locale=page.locale %}

<section class="section" id="dons">
  <div class="wrapper">
    <h2>Participer au financement</h2>
    <p>Vous pouvez contribuer en nous aidant financièrement.</p>
    <p>Cette année, nous essayons une option en proposant des "dons" avec des contre-parties.</p> 
      <ul>
        <li><strong>5 €</strong> : et l'équipe boit un thé à votre santé</li>
        <li><strong>10 €</strong> : et vous repartez avec l'affiche du festival</li>
        <li><strong>50 €</strong> : et aussi avec un bol à thé de <a href="https://manonclouzeau.com">Manon Clouzeau</a></li>
        <li><strong>100 €</strong> : et en plus des contre-parties déjà énumérées, nous vous remettons un <a href="https://boutique.brutdethé.fr/fr/produit/set-de-voyage_sdv2">kit de dégustation</a></li>
        <li><strong>500 €</strong> : nous vous proposons d'échanger avec nous pour imaginer ensemble une contre-partie.</li>
      </ul>
      <p>Vous pouvez également faire un don sans contre-partie en utilisant notre IBAN : <br> <i><center>BE50 9671 9604 2218 - TRWIBEB1XXX</center></i></p>
      <div class="text-center">
        <a class="button" href="https://boutique.brutdethé.fr/fr/dons" data-text="Contribuer à la cagnotte">
          <span class="button-inner">Contribuer</span>
        </a>
      </div>
  </div>
</section>

<hr class="wrapper">

{% include banners/gaiwan.html locale=page.locale %}

<section class="section" id="sponsoring">
  <div class="wrapper">
    <h2>Devenir sponsor</h2>
    <p><strong>Entreprises ou organisations</strong>, vous pouvez aider à financer et à péréniser le festival GongFuCha
      en devenant
      sponsor. Contactez-nous pour nous faire part de votre envie de nous soutenir. Nous nous ferons un plaisir
      d'organiser une rencontre pour en discuter de vive voix.
      Pour vous remercier, nous mettrons en avant votre entreprise sur notre <a
        href=https://festival.gongfucha.fr/2023/remerciements/>page de remerciements</a>. </p> <div class="text-center">
        <a class="button" href="https://festival.gongfucha.fr/2023/nous-contacter" data-text="Devenir sponsor">
          <span class="button-inner">Devenir sponsor</span>
        </a>
  </div>
  </div>
</section>

<hr class="wrapper">

{% include banners/theier.html locale=page.locale %}

<section class="section" id="diffusion">
  <div class="wrapper">
    <h2>Aidez-nous à diffuser l'évènement</h2>
    <p>Pour cette seconde édition, nous avons choisi une communication discrète et délicate
      pour ne pas faire de bruit auprès des personnes qui ne se sentiraient pas concernées.
      Si le projet vous plaît et que vous avez envie de nous aider à en faire la promotion,
      que vous connaissez des personnes qui pourraient être intéressées, faites nous signe.
      Demandez-nous une affiche et nous nous ferons un plaisir de vous l'envoyer.
      Diffusez <a href="/assets/images/affiche-gongfucha-2023.jpg">l'affiche</a>, <a
        href="/assets/images/visuel-gongfucha-2023.jpg">le visuel</a> sur vos réseaux sociaux.
      <a href="https://boutique.brutdethé.fr/fr/billets-gongfucha">Achetez des places</a> à vos client·e·s, vos ami·e·s
      et offrez leur un <strong>voyage dans l'univers des thés de culture chinoise</strong>.
      Une parenthèse dans la quiétude du Parc aux Bambous de Lapenne, en Ariège.
      Une balade poétique et bucolique ponctuée d'une dizaine d'expériences
      autour du monde du Thé.
      <hr>
      <em>Quelques éléments de communication à récupérer : </em>
      <br>
      <img class="com" src="http://festival.gongfucha.fr/assets/images/affiche-gongfucha-2023.jpg">
      <img class="com" src="http://festival.gongfucha.fr/assets/images/visuel-carre-gongfucha-2023.jpg">
      <img class="com" src="http://festival.gongfucha.fr/assets/images/visuel-gongfucha-2023.jpg">
      <img class="com" src="http://festival.gongfucha.fr/assets/images/visuel-simple-gongfucha-2023.jpg">
      
      <div class="text-center">
        <a class="button" href="https://festival.gongfucha.fr/2023/nous-contacter" data-text="Contactez-nous">
          <span class="button-inner">Contactez-nous</span>
        </a>
      </div>
  </div>
</section>

<hr class="wrapper">

{% include banners/structure-faustine.html locale=page.locale %}
