---
title: "Aidez GongFuCha : faites un don ou offrez des places !"
description: "Envie de nous aider à financer le festival GongFuCha ? Explications !"
i18n-key: faq-finance
permalink: /financer/
---

<section class="section">
  <div class="wrapper">
    <h1>Aidez le festival GongFuCha :<br>
      faites un don, devenez sponsor, participez à la diffusion de l'évènement, offrez des places... !<br>
      Votre soutien nous est précieux</h1>
    <p>
      Pour cette première édition, tout le monde peut contribuer à faire du Festival GongFuCha un événement convivial et soutenir l'équipe organisatrice. Pour cela,
      plusieurs possibilités :
    </p>
    <ul>
      <li><a href="#dons">contribuez à la cagnotte</a></li>
      <li><a href="#sponsoring">devenez sponsor</a></li>
      <li><a href="#diffusion">demandez une affiche, parlez de l'évènement, offrez des places à des ami&middot;e&middot;s...</a></li>
    </ul>
    <div class="text-center">
      <a class="button" href="{{ " /merci/" | relative_url }}" data-text="merci à nos donatrices et donateurs">
        <span class="button-inner">merci à nos donatrices et donateurs !</span>
      </a>
    </div>
  </div>
</section>

<hr class="wrapper">

<section class="section" id="dons">
  <div class="wrapper">
    <h2>Contribuer à la cagnotte</h2>
    <p>Soutenez le festival et l'équipe organisatrice en faisant un don à la hauteur de vos moyens.
    <ul>
      <li>Dès <strong>30 €</strong>, recevez l'affiche du festival</li>
      <li>À partir de <strong>50 €</strong>, recevez un bol à thé</li>
      <li>Au-delà de <strong>80 €</strong>, recevez l'affiche du festival et un bol à thé</li>
      <li>Passé <strong>150 €</strong>, recevez l'affiche du festival et un kit de dégustation</li>
      <li>Et, quelque soit votre montant, recevez notre éternel gratitude</li>
    </ul>
  </div>

{% include register-section.html label='Contribuer à la cagnotte' inside='true' %}

<hr class="wrapper">

</section>
<section class="section" id="sponsoring">
  <div class="wrapper">
    <h2>Devenir sponsor</h2>
    <p><strong>Entreprises ou organisations</strong>, vous pouvez aider à financer le festival GongFuCha en devenant sponsor.</p>
    Soutenez l'évènement et aidez-nous à péréniser ces rencontres.
    Pour vous odnner une idée des besoins du festival, rendez-vous sur la page du <a href="https://boutique.brutdethé.fr/?categorie=Festival">budget prévisionnel</a>.
  </div>
</section>

{% include register-section.html label='Contribuer à la cagnotte' inside='true' %}

<hr class="wrapper">

<section class="section" id="diffusion">
  <div class="wrapper">
    <h2>Demandez une affiche, parlez de l'évènement, offrez des places à des ami&middot;e&middot;s...</h2>
    <p>Participez à la diffusion de cette première édition du GongFuCha auprès de vos client&middot;e&middot;s et de vos connaissances. 
      Demandez-nous une affiche et nous nous ferons un plaisir de vous l'envoyer.
      Diffusez <a href="/assets/pdf/affiche-gongfucha.pdf">l'affiche</a> ou <a href="/assets/pdf/dossier-gongfucha.pdf">le dossier de presse</a> sur les réseaux sociaux.
      <a href="https://boutique.brutdethé.fr/?categorie=Festival">Achetez des places</a> à vos client·e·s, vos ami·e·s et offrez leur un <strong>voyage dans l'univers des thés de culture chinoise</strong>.
      Une parenthèse dans la quiétude du Parc aux Bambous de Lapenne, en Ariège.
      Une balade poétique et bucolique ponctuée d'une dizaine d'expériences
      autour du monde du Thé.
  </div>
</section>

{% include register-section.html label='Diffuser' inside='true' %}

<hr class="wrapper">

<!-- <section class="section" id="diversity">
  <div class="wrapper">
    <h2>Offrir des places pour la diversité</h2>
    <p>Vous avez envie que notre secteur soit plus ouvert à la diversité, qu’il se montre plus responsable socialement
      et qu’il s’enrichisse de toutes les différences ? Nous aussi, et nous ne sommes pas les seul·e·s. Des initiatives
      comme <a href="https://diversitytickets.org/">DiversityTickets.org</a>, accueillent des places offertes ou à tarif
      réduit et se chargent de les redistribuer.</p>
    <p>Si vous souhaitez que nous distribuions les billets que vous financez par vos dons à une initiative spécifique de
      ce type, dites-le nous au moment de l’achat. Nous vous demanderons si vous souhaitez afficher sur notre page de
      remerciement un logo spécifique, assorti d’une URL. L’occasion de mettre en valeur une entreprise ou une
      organisation caritative de votre choix.</p>
    <p><strong>Entreprises ou organisations</strong>, utilisez cette opportunité pour démontrer votre engagement envers
      la diversité. La diversité est non seulement une valeur, mais également une force économique : elle accroit
      l’ouverture d’esprit, la capacité d’innovation et permet de mieux comprendre les attentes de vos client·e·s (qui
      sont également divers·e·s).</p>
    <p>Si vous souhaitez prendre contact vous-même avec des organismes de valorisation de la diversité, n’hésitez pas à
      directement <a href="#gifts">acheter des places pour les offrir vous-même</a>.</p>
  </div>
</section>

{% include register-section.html label='Encourager la diversité' inside='true' %}

<hr class="wrapper"> 

Offrez un <strong>voyage dans l'univers des thés de culture chinoise</strong>.
      Une parenthèse dans la quiétude du Parc aux Bambous de Lapenne, en Ariège.
      Une balade poétique et bucolique ponctuée d'une dizaine d'expériences
      autour du monde du Thé.
    
-->

<section class="section" id="register">
  <div class="wrapper">
    <h2>Billetterie</h2>
    <a title="Billetterie en ligne pour GongFuCha" href="https://www.weezevent.com/?c=sys_widget"
      class="weezevent-widget-integration" target="_blank"
      data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=308930&lg_billetterie=1&code=76027&resize=1&width_auto=1&color_primary=93ac3d"
      data-width="650" data-height="600" data-id="308930" data-resize="1" data-width_auto="1" data-noscroll="0"
      data-nopb="0">Billetterie Weezevent</a>
    <script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
  </div>
</section>

{% include banners/manon.html locale=page.locale %}