---
title: "Soutenez GongFuCha !"
description: "Envie de nous aider à financer le festival GongFuCha ? Explications !"
i18n-key: faq-finance
permalink: /financer/
---

<section class="section">
  <div class="wrapper">
    <h1>Soutenez le festival GongFuCha</h1>
    <p>
      Organiser un festival demande du temps, de la préparation, de l'énergie et un certain budget.
      Pour cette première édition, nous faisons appel à toutes celles et ceux qui désirent soutenir l'évènement d'une
      manière ou d'une autre.
      Dans une envie de transparence, vous pouvez consulter notre <a
        href="{{ page.baseurl | default:site.baseurl }}/budget">budget
        prévisionnel</a>
      et suivre l'avancée de la <a href="{{ page.baseurl | default:site.baseurl }}/remerciements">cagnotte</a>.
      L'objectif de ce festival n'est pas de faire de bénéfice, mais de partager trois jours remplis de rencontres,
      de découvertes, d'échanges et de jolis souvenirs. Les bénéfices, s'il y en a, serviront à financer une partie de
      la prochaine édition.
    </p>
    <p>
      Tout le monde peut ainsi contribuer à faire du Festival GongFuCha un événement convivial et, nous l'espérons,
      pérenne.
      Pour cela, plusieurs possibilités :
    </p>
    <ul>
      <li><a href="#dons">Contribuez à la cagnotte</a></li>
      <li><a href="#sponsoring">Devenez sponsor</a></li>
      <li><a href="#diffusion">Aidez-nous à diffuser l'évènement</a></li>
    </ul>
    <div class="text-center">
      <a class="button" href="{{ page.baseurl | default:site.baseurl }}/remerciements"
        data-text="merci à nos donatrices et donateurs">
        <span class="button-inner">merci à nos donatrices et donateurs !</span>
      </a>
    </div>
  </div>
</section>

<hr class="wrapper">

{% include banners/perrine.html locale=page.locale %}

<section class="section" id="dons">
  <div class="wrapper">
    <h2>Contribuer à la cagnotte</h2>
    <p>Tu aimes le projet, tu es fan de Thés de tradition chinoise<br>
      Ton week-end est déjà bien rempli ou tu habites trop loin pour venir nous rendre visite cette fois-ci !<br>
      Tu peux soutenir le festival en faisant un don à la hauteur de tes moyens.
      Selon le montant du don nous t'enverrons :
      <ul>
        <li><strong>5 €</strong> : un grand merci</li>
        <li><strong>10 €</strong> : l'affiche du festival</li>
        <li><strong>50 €</strong> : un bol à thé de <a href="https://manonclouzeau.com">Manon Clouzeau</a> et l'affiche
          du festival</li>
        <li><strong>100 €</strong> : un kit de dégustation, un bol à thé de <a href="https://manonclouzeau.com">Manon
            Clouzeau</a> et l'affiche
          du festival</li>
        <li><strong>400 €</strong> : une théière de <a href="https://www.theiere-tasse.com">Jé le Potier</a>, un kit de
          dégustation, un bol à thé
          de <a href="https://manonclouzeau.com">Manon Clouzeau</a> et l'affiche du festival</li>
        <li>Et, quelque soit le montant que tu veux/peux nous donner, ton nom sera inscrit à l'encre indélébile sur la
          page des généreux donateurs</li>
      </ul>
      <div class="text-center">
        <a class="button" href="https://boutique.brutdethé.fr/?categorie=Festival" data-text="Contribuer à la cagnotte">
          <span class="button-inner">Contribuer à la cagnotte</span>
        </a>
      </div>
  </div>
</section>

<hr class="wrapper">

{% include banners/porcelaine.html locale=page.locale %}

<section class="section" id="sponsoring">
  <div class="wrapper">
    <h2>Devenir sponsor</h2>
    <p><strong>Entreprises ou organisations</strong>, vous pouvez aider à financer et à péréniser le festival GongFuCha
      en devenant
      sponsor. Contactez-nous pour nous faire part de votre envie de nous soutenir. Nous nous ferons un plaisir
      d'organiser une rencontre pour en discuter de vive voix.
      Pour vous remercier, nous mettrons en avant votre entreprise sur notre <a
        href=https://gongfucha.brutdethé.fr/merci/>page de remerciements</a>. </p> <div class="text-center">
        <a class="button" href="https://gongfucha.brutdethé.fr/nous-contacter" data-text="Devenir sponsor">
          <span class="button-inner">Devenir sponsor</span>
        </a>
  </div>
  </div>
</section>

<hr class="wrapper">

{% include banners/the.html locale=page.locale %}

<section class="section" id="diffusion">
  <div class="wrapper">
    <h2>Aidez-nous à diffuser l'évènement</h2>
    <p>Pour cette première édition, nous avons choisi une communication discrète et délicate
      pour ne pas faire de bruit auprès des personnes qui ne se sentiraient pas concernées.
      Si le projet vous plaît et que vous avez envie de nous aider à en faire la promotion,
      que vous connaissez des personnes qui pourraient être intéressées, faites nous signe.
      Demandez-nous une affiche et nous nous ferons un plaisir de vous l'envoyer.
      Diffusez <a href="/assets/images/affiche-gongfucha.jpg">l'affiche</a>, <a
        href="/assets/images/visuel-gongfucha.jpg">le visuel</a> ou <a href="/assets/pdf/dossier-gongfucha.pdf">le
        dossier de presse</a> sur vos réseaux sociaux.
      <a href="https://boutique.brutdethé.fr/?categorie=Festival">Achetez des places</a> à vos client·e·s, vos ami·e·s
      et offrez leur un <strong>voyage dans l'univers des thés de culture chinoise</strong>.
      Une parenthèse dans la quiétude du Parc aux Bambous de Lapenne, en Ariège.
      Une balade poétique et bucolique ponctuée d'une dizaine d'expériences
      autour du monde du Thé.
      <div class="text-center">
        <a class="button" href="https://gongfucha.brutdethé.fr/nous-contacter" data-text="Contactez-nous">
          <span class="button-inner">Contactez-nous</span>
        </a>
      </div>
  </div>
</section>

<hr class="wrapper">

{% include banners/manon.html locale=page.locale %}
