---
title: Festival GongFuCha 30 septembre, 1er et 2 octobre 2022
description: Trois journées pour faire le plein d'inspiration et rencontrer la culture Chinoise du Thé.
i18n-key: home
permalink: /
venir_parc_aux_bambous_url: true
redirect_from:
- /equipe/
---

{% include banners/parc-aux-bambous.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">Le parc aux bambous</h2>
    <p>Dans un <strong>océan de verdure</strong> au bord de l’Hers vif, le
      <a href="{{ "/venir-parc-aux-bambous/" | relative_url }}">parc aux bambous de Lapenne, Ariège (09)</a> nous
      accueille pour cette première édition.</p>
    <p>Ce jardin édénique présente sur cinq hectares une des premières <strong>collections de bambous</strong> de France
      dans un <strong>esprit de découverte, de calme et de sérénité</strong>. Le parc propose également un jardin de
      fleurs, un verger avec des pommiers de variétés anciennes, des arbres remarquables, une collection de fougères, un
      bassin et des sculptures surprises dissimulées. <a href="https://www.instagram.com/parcauxbambous">photos</a></p>
  </div>
</section>

{% include banners/gaiwan.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Des ateliers, des rencontres et des conférences</h2>
    <p>Avec cette première édition, nous souhaitons vous faire <strong>partager notre enthousiasme</strong> pour le
      <strong>Thés</strong>, vous faire découvrir des personnes <a
        href={{ "/manifeste/"  | relative_url }}">authentiques</a> qui servent cette
      tradition millénaire.
      Notre intention est de vous plonger dans l'univers feutré du Thé et de vous faire vivre des expériences insolites
      et des instants de plaisir partagé.</p>
    <p class="text-center">
      <a class="button" data-text="voir le programme 2022" href="{{ "/programme/" | relative_url }}"
        title="voir le programme de GongFuCha 2022">
        <span class="button-inner">voir le programme 2022</span>
      </a>
    </p>
  </div>
</section>

{% include banners/the.html locale=page.locale %}

<section class="section" id="dodo">
  <div class="wrapper">

  </div>
</section>

{% include banners/manon.html locale=page.locale %}
