---
title: Festival GongFuCha 30 septembre, 1er et 2 octobre 2022
description: Trois journées pour faire le plein d'inspiration et rencontrer la culture Chinoise du Thé.
i18n-key: home
permalink: /
venir_parc_aux_bambous_url: true
redirect_from:
- /equipe/
---

{% include banners/parc-aux-bambous.html locale=page.locale %}

<section class="section" id="pourquoi">
  <div class="wrapper">
    <h2 class="text-center">Pourquoi venir au festival ?</h2>
    <p>Si vous ne connaissez pas le <strong>monde des Thé chinois</strong>, vous allez découvrir un nouvel univers, plus
      poétique, plus authentique, loin des clichés orientaux et très loin des préoccupations marketing. Si vous êtes
      déjà
      connaisseur, ce sera l'occasion pour vous de rencontrer ou de retrouver les personnes qui font progresser les Thés
      rares en France : boutiques de thés, céramistes, cultivatrices, journalistes, passionnées, etc. Nous
      espérons discrètement et vivement que toutes ces rencontres donneront naissance à une <strong>communauté
        entreprenante, enthousiaste et prévenante</strong>.</p>
    <p>C'est la première édition, la plus intimiste et sans doute celle où <strong>nous avons le plus besoin de
        vous</strong> pour réaliser un joli amorçage. Le parc aux bambous est un lieu magnifiquement improbable façonné
      par Didier et Ifa qui sont de très belles personnes. Un jardin en suspension propice à la détente pour se poser et
      déguster paisiblement.</p>
    <p>Vous pouvez continuer votre lecture en consultant <a data-text="voir le manifeste"
        href="{{ "/manifeste/" | relative_url }}">nos valeurs</a></p>
  </div>
</section>

{% include banners/manon.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Des ateliers, des rencontres et des conférences</h2>
    <p>Avec cette première édition, nous souhaitons vous faire <strong>partager notre enthousiasme</strong> pour le
      <strong>Thé</strong>, vous faire découvrir des personnes <a
        href="{{ "/manifeste/"  | relative_url }}">authentiques</a> qui servent cette tradition millénaire. Notre
      intention est de vous plonger dans l'univers feutré du Thé et de vous faire vivre des expériences insolites, des
      instants de plaisir partagé.
    </p>
    <blockquote>
      Un festival pour revenir aux sources, sans nuage de lait, ni arômes ajoutés.<br>
      Des feuilles de Thé, un esprit posé, de l’eau chaude, un peu de savoir faire et c’est tout
    </blockquote>
    <p class="text-center">
      <a class="button" data-text="voir le programme 2022" href="{{ "/programme/" | relative_url }}"
        title="voir le programme de GongFuCha 2022">
        <span class="button-inner">voir le programme 2022</span>
      </a>
    </p>
  </div>
</section>

{% include banners/gaiwan.html locale=page.locale %}

<section class="section" id="nocturne">
  <div class="wrapper">
    <h2 class="text-center">Une expérience nocturne sous la lune, juste à côté</h2>
    <p>
      L'envie de proposer une nocturne au parc des bambous s'est posée à nous dès notre première visite.
      Après quelques hésitations liées à l'organisation d'une première édition, petit à petit et au gré des rencontres,
      nous avons réussi à concrétiser cette belle idée !
    </p>
    <p>À la chaleur des braseros nous partagerons un plat avant de partir explorer le parc.</p>
    <p>Didier et Ifa ont pensé les lumières pour mettre en valeur les bambous et la végétation du parc qu'ils connaissent sur le bout des doigts.<br>
      Pour le tableau : l'art du 工夫茶 - GongFuCha mis en valeur par le travail de <a href="{{"/programme/#gongfucha" | relative_url }}">Yan Lin</a>,
      <a href="{{"/programme/#le-guzheng" | relative_url }}">Jiang Nan</a> et <a href="{{"/programme/#calligraphie-et-danse" | relative_url }}">Ya-Yu Lai.</a>
    </p>
    <p>Et pour le reste c'est surprise !<br><em>(Pour des raisons de sécurités et pour favoriser l'aspect intimiste et contemplatif on choisi d'ouvrir 35 places)</em></p>

    <p class="text-center">
      <a class="button" data-text="réserver la nocturne" href="https://boutique.brutdethé.fr/fr/produit-billet5"
        title="réserver la nocturne">
        <span class="button-inner">réserver la nocturne</span>
      </a>
    </p>
  </div>
</section>

{% include banners/jiang-nan.html locale=page.locale %}

<section class="section" id="le-parc">
  <div class="wrapper">
    <h2 class="text-center">Le parc aux bambous</h2>
    <p>Dans un <strong>océan de verdure</strong> au bord de l’Hers vif, le
      <a href="{{ "/venir-parc-aux-bambous/" | relative_url }}">parc aux bambous</a> de Lapenne en Ariège au pied des
      Pyrénées, nous
      accueille pour cette première édition.</p>
    <p>Ce jardin édénique présente sur cinq hectares une <strong>collection de bambous</strong> inédite en France
      dans un <strong>esprit de découverte, de calme et de sérénité</strong>. Le parc propose également un jardin de
      fleurs, un verger avec des pommiers de variétés anciennes, des arbres remarquables, une collection de fougères, un
      bassin et des sculptures surprises dissimulées. Découvrez la beauté du parc en <a
        href="https://www.instagram.com/parcauxbambous">photos</a>.</p>
  </div>
</section>

{% include banners/the.html locale=page.locale %}
