---
title: Programme
description: Le programme de l'édition 2022 de GongFuCha
i18n-key: programme
permalink: /programme-sf/
---

{%- assign conferences = site.talks | sort: "display-order" -%}
{%- assign number_of_conferences = conferences | where_exp:"item","item.type != 'pause'"| size -%}

<section class="section">
  <div class="wrapper">
    <h1>Le programme 2022</h1>
    <p>L’équipe du festival 工夫茶 - <em>GongFuCha</em> a élaboré le programme de cette première édition dans l’idée de <strong>proposer
      {{ number_of_conferences }} expériences autour du monde du thé</strong>, avec des personnes qui cultivent une <strong>relation authentique</strong>
      et <strong>enthousiaste</strong> avec le Thé.</p>
    <p>Sur les trois jours du festival, vous pourrez vous balader dans le parc et découvrir la proposition de chacun des intervenant :
      dégustation posée ou itinérante, de temps en temps accompagnées de cithare, échanges autour des feuilles ou d’un bol de thé, 
      exposition de pièces en céramiques ou en bois, de la poésie à lire et à écouter. Des conférences auront lieux plusieurs fois 
      dans la journée, le programme sera affiché le jour même. Une nocturne le samedi soir (…)</p>
      
    <p>Nous sommes fières et exaltées en imaginant <strong>les rencontres et les liens</strong> qui vont se tisser entre
      ces artisants et vous !</p>
    {% if site.tickets.selling %}
    <p class="text-center"><a class="button" data-text="réserver votre place"
        href="https://boutique.brutdethé.fr/?categorie=Festival" title="Venir au parc aux bambous" target="_blank">
        <span class="button-inner">réserver votre place</span>
      </a>
      {% endif %}
      <a class="button" data-text="proposer un sujet"
        href="{{ page.baseurl | default:site.baseurl }}/appel-a-propositions" title="proposer un sujet">
        <span class="button-inner">proposer un sujet</span>
      </a></p>
  </div>
</section>

<h2>Les intervenant·e·s</h2>
<h3>Du vendredi au dimanche</h3>
<li>[photo] Qu’est-ce que le GongFuCha ? Ya Lin
    - Conférence et dégustation
</li>
<li>[photo] Derrière le bol, Manon Cluzeau,
    - Exposition
</li>
<li>[photo] un-tiers-lieu-a-quimper, Julien Monnet
    - Conférence
</li>
<li>[photo] Terre & ciel, Sophie Pouly, 
    - Exposition
</li>
<li>[photo] Une dégustation sans artifice, Quirong Billboet
    - Conférence et dégustation
<li>[photo] Qu'est-ce qu'un thé rare ? Laurence Gillet
    - Conférence
</li>
<li>[photo] Ma vision de la voie du Thé, Jé le potier
    - Exposition
</li>
<li>[photo] 100 poèmes pour la vie, Perrine Pottiez
    - Exposition
</li>
<li>[photo] Dégustations itinérantes, Guillaume Régler
    - Dégustation
</li>
<li>[photo] La cuisson au feu de bois à haute température, Sébastien de Gros
    - Exposition
</li>
<li>[photo] Calligraphie et danse, Ya-Yu Lai
    - Exposition
</li>
<h3>Uniquement le samedi</h3>
<li>[photo] Thomas Bernardi, Savez-vous planter du thé ?
    - Conférence
</li>
<li>[photo] Le GuZheng, Jiang Nan
    - interventions musicales itinérantes
</li>
<li>[photo] La nocturne
    - …
</li>

<section class="section">
  <div class="wrapper">
    <hr>
  </div>
</section>

{% include conferences.html conferences=conferences locale=page.locale %}

{% if site.tickets.selling %}
<section class="section">
  <div class="wrapper">
    <p class="text-center"><a class="button" data-text="réserver votre place"
        href="https://boutique.brutdethé.fr/?categorie=Festival" title="Venir au parc aux bambous" target="_blank">
        <span class="button-inner">réserver votre place</span>
      </a></p>
  </div>
</section>
{% endif %}

{% include banners/gaiwan.html locale=page.locale %}
