---
title: Programme
description: Le programme de l'édition 2022 de GongFuCha
i18n-key: programme
permalink: /programme/
---

{%- assign conferences = site.talks | sort: "display-order" -%}
{%- assign number_of_conferences = conferences | where_exp:"item","item.type != 'pause'"| size -%}

<section class="section">
  <div class="wrapper">
    <h1 class="text-center">Le programme 2022</h1>
    <img class="affiche" src="{{ "/assets/images/visuel-simple-gongfucha.jpg" | relative_url }}"
      alt="Affiche GongFuCha par BenHito" width="926" height="613">
    <p>L’équipe du festival 工夫茶 - <em>GongFuCha</em> a élaboré le programme de cette première édition dans l’idée
      de <strong>proposer {{ number_of_conferences }} expériences autour du monde du thé</strong>, avec des personnes
      qui cultivent une <strong>relation authentique</strong> et <strong>enthousiaste</strong> avec le Thé.</p>

    <p>Sur les trois jours du festival, vous pourrez vous balader dans le parc et découvrir la proposition de chacun des
      personnes intervenantes :
      dégustation posée ou itinérante, de temps en temps accompagnées de <a
        href="https://youtu.be/OKH8SL1Y5yY">guzheng</a>, échanges autour des feuilles ou d’un bol de thé,
      exposition de pièces en céramiques ou en bois, de la poésie à lire et à écouter. Des conférences auront lieux
      plusieurs fois
      dans la journée, le programme sera affiché le jour même. Une expérience nocturne est proposée le samedi soir.</p>
    <p>Nous sommes fières et exaltées en imaginant <strong>les rencontres et les liens</strong> qui vont se tisser entre
      ces artisans et vous !</p>
    {% if site.tickets.selling %}
    <p class="text-center"><a class="button" data-text="réserver votre place"
        href="https://boutique.brutdethé.fr/?categorie=Festival" title="Venir au parc aux bambous" target="_blank">
        <span class="button-inner">réserver votre place</span>
      </a>
      {% endif %}
      <!--
      <a class="button" data-text="proposer un sujet"
        href="{{ page.baseurl | default:site.baseurl }}/appel-a-propositions" title="proposer un sujet">
        <span class="button-inner">proposer un sujet</span>
      </a>
      -->
    </p>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <hr>
  </div>
</section>

{% include speakers.html conferences=conferences locale=page.locale shorturl=true %}

<section class="section">
  <div class="wrapper">
    <hr>
  </div>
</section>

{% include conferences.html conferences=conferences locale=page.locale %}

{% if site.tickets.selling %}
<section class="section">
  <div class="wrapper">
    <p class="text-center"><a class="button" data-text="réserver votre place"
        href="https://boutique.brutdethé.fr/?categorie=Festival" title="Venir au parc aux bambous" target="_blank">
        <span class="button-inner">réserver votre place</span>
      </a></p>
  </div>
</section>
{% endif %}

{% include banners/gaiwan.html locale=page.locale %}
