---
title: Programme
description: Le programme de l'édition 2022 de GongFuCha
i18n-key: programme
permalink: /programme/
---

{%- assign conferences = site.talks | sort: "display-order" -%}
{%- assign number_of_conferences = conferences | where_exp:"item","item.type != 'pause'"| size -%}

<section class="section">
  <div class="wrapper">
    <h1>Le programme 2022 : {{ number_of_conferences }} conférences</h1>
    <p>Sur cette page nous vous présentons des personnes qui cultivent une <strong>relation authentique</strong> et enthousiaste avec le Thé et qui <strong>comptent pour nous</strong>. Nous sommes fières et exaltées en imaginant <strong>les rencontres et les liens</strong> qui vont se tisser entre ces artisants et vous !</p>
    {% if site.tickets.selling %}
    <p class="text-center"><a class="button" data-text="réserver votre place"
        href="{{ page.baseurl | default:site.baseurl }}/billetterie/" title="Venir à GongFuCha 2022">
        <span class="button-inner">réserver votre place</span>
      </a></p>
    {% endif %}
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <hr>
  </div>
</section>

{% include speakers.html conferences=conferences locale=page.locale shorturl=true %}

<section class="section">
  <div class="wrapper">
    <hr>
  </div>
</section>

{% include conferences.html conferences=conferences locale=page.locale %}

{% if site.tickets.selling %}
<section class="section">
  <div class="wrapper">
    <p class="text-center"><a class="button" data-text="réserver votre place"
        href="{{ page.baseurl | default:site.baseurl }}/billetterie/" title="Venir à GongFuCha 2022">
        <span class="button-inner">réserver votre place</span>
      </a></p>
  </div>
</section>
{% endif %}

{% include banners/gaiwan.html locale=page.locale %}
