---
title: "Elles et ils nous soutiennent"
description: "Celles et ceux qui ont aidé le festival GongFuCha"
i18n-key: thanks
permalink: /remerciements/
---

<section class="section">
  <div class="wrapper">
    <center><h1>Un grand MERCI</h1></center>
    <p>En date du 22/08/2022 la cagnotte est de <strong>100 €</strong></p>
      
    <section class="section">
        <div class="wrapper">
        <hr>
        </div>
      </section>
    
    {% include mercis.html mercis=mercis locale=page.locale %}
    

  <!--
    <h2># Villa Mayari, camping en Ariège</h2>
    <div style="display:inline-block;vertical-align:top;">
      <img src="/assets/images/merci/camping-mayari.png" alt="Un chalet au camping Mayari"/>
      </div>
      <div style="display:inline-block;">
      <p>
        Aux Portes des Pyrénées, en Ariège, venez découvrir le Camping Villa Mayari situé dans un espace naturel très boisé, où les chalets et emplacements s’étagent en terrasses sur 3 hectares. Les nombreux arbres sont le refuge d’une faune diversifiée et apportent une agréable fraîcheur lors des journées de chaleur.
        <a href="https://www.villa-mayari.com">Découvrez le camping en images</a>
      
      </p>
      </div>
      
    
    
    <p>Montant total en cagnotte : <strong>{{ site.data.crowdfunding.amount }}&nbsp;€</strong></p>


    <div class="thanks-grid">



      <div class="M28611102O7771">
        <a class="logo" title="Don anonyme" href="{{ "/financer/#crowdfounding" | relative_url }}">
          <span class="sr-only">Don anonyme</span>
        </a>

      </div>
      <div class="M30443092O7771">
        <a class="logo" title="Don anonyme" href="{{ "/financer/#crowdfounding" | relative_url }}">
          <span class="sr-only">Don anonyme</span>
        </a>
      </div>

      <i aria-hidden="true"></i><i aria-hidden="true"></i><i aria-hidden="true"></i><i aria-hidden="true"></i><i
        aria-hidden="true"></i><i aria-hidden="true"></i><i aria-hidden="true"></i><i aria-hidden="true"></i><i
        aria-hidden="true"></i><i aria-hidden="true"></i><i aria-hidden="true"></i><i aria-hidden="true"></i><i
        aria-hidden="true"></i><i aria-hidden="true"></i><i aria-hidden="true"></i><i aria-hidden="true"></i><i
        aria-hidden="true"></i><i aria-hidden="true"></i><i aria-hidden="true"></i><i aria-hidden="true"></i>

    </div>
  </div>-->
</section>
{% include banners/je-le-potier.html locale=page.locale %}
<hr class="wrapper">
