---
title: "Elles et ils nous soutiennent"
description: "Celles et ceux qui ont aidé le festival GongFuCha"
i18n-key: thanks
permalink: /2023/remerciements/
---

<section class="section">
    <div class="wrapper">
        <center >
            <h1 hidden>Un grand MERCI</h1>
            <p>Tout le monde peut contribuer à faire de cette nouvelle édition un événement convivial et, nous l'espérons,
              pérenne</p>
        </center>
        <div class="text-center">
          <a class="button" href="{{ page.baseurl | default:site.baseurl }}/2023/financer" data-text="Soutenez le festival GongFuCha">
            <span class="button-inner">Soutenez le festival GongFuCha</span>
          </a>
        </div>
      
      <!-- 
        {% include mercis.html mercis=mercis locale=page.locale %}
      -->

      </div>
</section>
{% include banners/equipe.html locale=page.locale %}
<hr class="wrapper">